body{
    background-image: url(../images/back-ground.jpeg);

}

img{
    width: 120px; 
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 h1{
    text-align: center;
 }

 div{
    padding: 30px; 
    margin:5px;
 }
 #mystuff{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 20px;
    justify-items: center;
 }
 @media all and (min-width: 850px){
    #mystuff{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(3, auto);
     }
    div:nth-child(even) {
        border: 2px solid black;
    }
 }
